<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>not active</key>
	<integer>0</integer>
	<key>light active</key>
	<integer>1</integer>
	<key>moderate active</key>
	<integer>2</integer>
	<key>very active</key>
	<integer>3</integer>
	<key>extremely active</key>
	<integer>4</integer>
</dict>
</plist>
